<div class="show">
  <h1> ABOUT </h1>

  <p>G’day. A bit about myself.</p>

  <p>In 2009, the world was falling apart, and my net worth was taking a beating.
    I thought it would be a good idea to start a personal finance site to help myself and
    others make sense of chaos.
    After all, I had spent 10 years working in the finance industry, got my MBA,
    invested and saved aggressively, and still got financially rocked! </p>

  <p>Since the financial crisis, more than 20 million visitors have stopped by Financial Samurai
     to learn, share, and grow. Financial Samurai delves deeper into investing, real estate,
     retirement planning, career strategies, money philosophy, and more,
     so we can all achieve financial independence sooner, rather than later.
     Every article is written based off first hand experience to provide the most helpful insights possible.
     Money matters are too important to be left up to pontification.</p>



  <p> If you want to get an honest and in-depth review of the best financial products
    to help you achieve financial independence, take a look at my Top Financial Products page.
    I’ve literally spent hundreds of hours researching, analyzing, and using these products to make sure
     I only highlight the best products for my users. I’ve cut through the clutter so you don’t have to </p>
</div>
