<div class="show">
  <h1>Privacy Policy</h1>

  <p>Per FTC guidelines, this website may be compensated by companies mentioned through advertising,
     affiliate programs or otherwise. Any references to third party products, rates,
      or websites are subject to change without notice. Please do the appropriate research before
       participating in any third party offers.</p>

  <p>Your privacy is very important to us. Accordingly,
    we have developed this Policy in order for you to understand how we collect,
    use, communicate and disclose and make use of personal information. The following outlines our privacy policy.</p>

  <li>Before or at the time of collecting personal information, we will identify the purposes for which information
     is being collected.</li>
  <li>We will collect and use of personal information solely with the objective of
    fulfilling those purposes specified by us and for other compatible purposes,
    unless we obtain the consent of the individual concerned or as required by law.</li>
  <li>We will only retain personal information as long as necessary for the fulfillment of those purposes.</li>
  <li>We will collect personal information by lawful and fair means and,
    where appropriate, with the knowledge or consent of the individual concerned.</li>
  <li>Personal data should be relevant to the purposes for which it is to be used, and,
    to the extent necessary for those purposes, should be accurate, complete, and up-to-date.</li>
</div>
